// This page shows a list of all plans.
// This page allows to create a new plan.

<%- include("header") -%>

<h1>Alle Pläne</h1>
<h2>Neuen Plan erstellen</h2>
<form action="/plans" method="POST">
	<select class="form-select new-plan-form-select" aria-label="Default select example" name="month">
		<% const months = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"]%>
		<% months.forEach(month => { %>
			<option><%=month%></option>
		<% }) %>
	</select>
	<select class="form-select new-plan-form-select" aria-label="Default select example" name="year">
	  	<% const years = [2022, 2023, 2024, 2025, 2026]%>
		<% years.forEach(year => { %>
			<option><%=year%></option>
		<% }) %>
	</select>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" placeholder="Bezeichnung" aria-label="Bezeichnung" aria-describedby="basic-addon2" name="name" required>
	  <div class="input-group-append">
	    <button class="btn btn-success" type="submit">Erstellen</button>
	  </div>
	</div>
</form>
<br>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>
<h2>Vorhandenen Plan auswählen</h2>
<input class="form-control plans-search" placeholder="Suche"></input>

<table class="table plans-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Monat</th>
			<th>Jahr</th>
			<th>Löschen</th>
		</tr>
	</thead>
	<tbody>
		<%plans.forEach(plan => { %>
			<tr class="plans-tr" value="<%= plan._id%>">
				<td>
					<%= plan.name%>
				</td>
				<td>
					<%= months[plan.month-1]%>
				</td>
				<td>
					<%= plan.year%>
				</td>
				<td>
					<i class="bi bi-trash3-fill del-plan" value="<%= plan._id%>"></i>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>


<%- include("footer") -%>
