<%- include("header") -%>
<% const months = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"] %>
<h1>Wunschliste </h1>
 <h2><%= months[wishList.month-1]%> <%= wishList.year%></h2>
<table class="table table-success wish-table">
	<thead>
		<tr>
			<th>Name</th>
			<% for(i = 0; i < monthLength; i++){ %>
				<th><%= (String("0"+(i+1)).slice(-2))%></th>
			<%}%>
		</tr>
	</thead>
	<tbody>
		<% wishList.wishes.forEach(wish => {%>
			<tr>
				<td class="grid-td" value="<%= wish.doctorId%>"><%= wish.doctorName%></td>
				<% for(i = 0; i < monthLength; i++){ %>
					<%if (wish.dutyWish.includes(i+1)){%>
						<td class="grid-td <%if(freeDays.includes(i+1)){%>grid-no-working-day<%}%>"><div class="wish wish-duty-wish" data-doctor-id="<%= wish.doctorId%>" data-date="<%= i+1 %>" value="1"><p class="unselectable"><%= i+1%></p></td>
					<%}else if (wish.noDutyWish.includes(i+1)){%>
						<td class="grid-td <%if(freeDays.includes(i+1)){%>grid-no-working-day<%}%>"><div class="wish wish-no-duty-wish" data-doctor-id="<%= wish.doctorId%>" data-date="<%= i+1 %>" value="2"><p class="unselectable"><%= i+1%></p></div></td>
					<%}else{%>
						<td class="grid-td <%if(freeDays.includes(i+1)){%>grid-no-working-day<%}%>"><div class="wish wish-normal" data-doctor-id="<%= wish.doctorId%>" data-date="<%= i+1 %>" value="0"><p class="unselectable"><%= i+1%></p></div></td>
					<%}%>
				<%}%>
			</tr>
		<%})%>
	</tbody>
</table>
<button class="btn btn-success btn-save-wish" value="<%= wishList._id %>">Speichern</button>

<%- include("footer") -%>